// Iopic Protocol - JS Bridge

:export {
  protocolBlue: $protocol-blue;
  protocolGreen: $protocol-green;
  protocolDark: $protocol-dark;
  protocolWhite: $protocol-white;
  protocolFont: $protocol-font;
  cardShadowBlue: $card-shadow-blue;
}
